html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.monitor {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

/* All images fill monitor */
.screen, .crt, .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@keyframes flicker {
  0%   { opacity: 0.75; }
  50%  { opacity: 0.82; }
  100% { opacity: 0.75; }
}

.crt {
  animation: flicker 0.12s infinite;
}

.screen { z-index: 1; }
#garage     { z-index: 2; pointer-events: none; }
.crt  { z-index: 3; pointer-events: none; }
.frame  { z-index: 4; pointer-events: none; }


#garage {
  position: absolute;
  bottom: 300px;             /* start at top of allowed area */
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  transition: bottom 1s ease-in-out;
}

#garage.down {
  bottom: -85px;        /* move down by this amount */
}
